{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}

{% if messages %}

    <div class="notification is-success">
        {{ messages[0] }}.
    </div>
{% endif %}

{% endwith %}

{% if current_user.is_authenticated %}
<form method="POST" action="/conspedidos">

<div class="column is-4 is-offset-4">
    <h3 class="title">Consultar Pedido</h3>
    <div class="box">
        <form method="POST" action="/conpedidos">
          
<!--
           <div class="field">
               <div class="control" required>
                   <input class="input is-large" type="number" name="idPedido" placeholder="Codigo del Pedido" autofocus="" >
               </div>
           </div>

           <div class="field">
               <div class="control">
                   <input class="input is-large" type="number" name="idCliente" placeholder="Dni de Cliente" autofocus="">
               </div>
           </div>
-->
           <div class="field">
               <div class="control">
                   <input class="input is-large" type="number" name="idUsuario" placeholder="Dni de Cliente" autofocus="">
               </div>
           </div>
<!--
           <div class="field">
               <div class="control">
                   <input class="input is-large" type="number" name="idProducto" placeholder="Codigo del Producto" autofocus="">
               </div>
           </div>

           <div class="field">
             <div class="control">
               <div class="select">
                 <select name="estadoPedido">
                   <option>Estado del Pedido</option>
                   <option>Pendiente</option>
                   <option>Procesado</option>
                 </select>
               </div>
             </div>
           </div>

-->

            <button class="button is-block is-info is-large is-fullwidth">Consulta</button>
        </form>
    </div>
</div>
{% endif %}

{% if not current_user.is_authenticated %}
<section class="hero is-success">
<div class="container">
  <h1 class="title">
    <div class="hero-body">No tiene autorización para acceder.
      <div class="hero-body"><a href="{{ url_for('index') }}"> Volver al Inicio</a>.
    </h1>
</div>
</section>
{% endif %}

{% endblock %}
