{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}

{% if messages %}
    <div class="notification is-success">
        {{ messages[0] }}.
    </div>
{% endif %}

{% endwith %}
<form method="POST" action="/signup">

<div class="column is-4 is-offset-4">
    <h3 class="title">Registrarse</h3>
    <div class="box">
        <form method="POST" action="/signup">

           <div class="field">
               <div class="control" required>
                   <input class="input is-large" type="number" name="dni" placeholder="Dni" autofocus="" min="1000000" max="99999999" required>
               </div>
           </div>

           <div class="field">
               <div class="control">
                   <input class="input is-large" type="text" name="nombre" placeholder="Nombre" autofocus="" required>
               </div>
           </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="" required>
                </div>
            </div>

            <div class="field">
              <div class="control">
<!--
                <div class="select">
                  <select name="tipo" required>
                    <option>Elija tipo de usuario</option>
                    <option>Vendedor</option>
                    <option>Distribuidor</option>
                  </select>
                </div>
              </div>
            </div>


            <div class="field">
              <div class="control">
                <div class="select">
                  <select name="sucursal" required>
                    <option>Sucursal</option>
                    <option>Ciudad de Córdoba</option>
                    <option>Villa María</option>
                    <option>Rio Cuarto</option>
                    <option>Mendoza</option>
                    <option>Rosario</option>
                    <option>Santiago del Estero</option>
                  </select>
                </div>
              </div>
            </div>
-->

           <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password" required>
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Registrarse</button>
        </form>
    </div>
</div>

{% endblock %}
