{% extends "base.html" %}

{% block content %}

<h1 class="title is-1">
Sobre nosotros
</h1>

<h2 class="title is-4">
    Bajo la lluvia de una tarde de otoño, en las calles empedradas de Lomas de Zamora, Buenos Aires, Argentina, un pequeño local abrió sus puertas por primera vez en septiembre de 1985. Inspirado en la tradición marítima de la región y en la novela clásica "El Matadero", Starbuck nació con la intención de ofrecer a los clientes una experiencia única y auténtica de café.

  Los granos de café recién tostados inundaban el lugar con su perfume inigualable, mientras una variedad de tés y especias del mundo estaban disponibles en los estantes para que los clientes pudieran llevárselos a casa. La calidez de la pequeña tienda se convirtió rápidamente en un lugar de reunión para la comunidad local, donde amigos y familias se encontraban para disfrutar de una taza de café y compartir historias.

  Diez años después, un joven llamado Juan, llegado desde Buenos Aires, entró en Starbuck y se enamoró de la intensidad y el sabor imprevisible del café. Este momento cambió su destino para siempre. En 1996 se unió al equipo de Starbuck y en 2003, después de un viaje inspirador a Italia, decidió llevar la calidez y el arte de la cultura italiana por el café al corazón de Lomas de Zamora.

  Ese desafío cobró su esencia propia. En 2005, el color verde desplazó al marrón de los delantales para construir una referencia única. Pronto Starbuck se expandió por todo Buenos Aires y luego por toda Argentina. En 2012 cruzó la frontera y desembarcó en Uruguay, y en 2015 en Paraguay. La conexión fue local y regional.</h2>

 <h3 class="title is-4">
 Durante más de tres décadas, Starbuck ha dado la bienvenida a sus clientes en sus tiendas por toda la región, convirtiéndose en el principal tostador y minorista de especialidades de café de la zona. La esencia de Starbuck reside en su compromiso con la comunidad y su amor por el café. Cada taza de café es una oportunidad para inspirar y nutrir el espíritu humano, y para conectar a las personas en un mundo cada vez más globalizado.

</h3>

<h4 class="title">

    Como desde 1985.

    Como cada día.

    Starbuck
</h4>

<div class="notification is-success">
    Ir a la <a href="{{ url_for('index') }}">pagina de Inicio</a>.
</div>

{% endblock %}
